main{
    padding-top: 90px;
}

.m1{
    padding: 5% 3%;
    text-align: center;
}

#m_title{
    margin-bottom: 50px;
    h1{font-size: 3.0rem;}
    hr{width: 90px; margin: 2px auto; border: none; border-bottom: 5px solid #212121;}
    h2{font-size: 1.0rem; font-weight: 400; margin-top: 20px;}
}
.m_product{
    width: 100%;
    display: flex; justify-content: center; gap: 5px;
    div{width: 300px;}
    div img{width: 100%; border: 1px solid #212121;}
}
.m_gallery{
    position: relative; text-align: center;
}
.m_txt1{
    width: 125px; margin: 0 auto; padding: 1px 0;
    background-color: white; border: 1px solid #212121;
    position: absolute; bottom: 60px; left: 50%; transform: translate(-50%, 0%);
    display: none;
}
.m_gallery:hover .m_txt1{
    display: block;
}
.m_txt2{
    width: 100px; margin: 0 auto; padding: 1px 0;
    background-color: #fdfadd; border: 1px solid #212121; font-weight: bold;
    position: absolute; bottom: 30px; left: 50%; transform: translate(-50%, 0%);
    display: none;
}
.m_gallery:hover .m_txt2{
    display: block;
}