/* main */
main{
    padding-top: 90px;
}


/* media */
@media screen and (min-width:1025px){
    .right_wrap{width: 620px;}
}
@media screen and (max-width:1024px){
    .right_wrap{width: 100%;}
}


/* section 1 nav */
.nav_wrap{
    display: flex;
}
.nav_wrap nav{
    /* border: 1px solid blue; */
    width: 1440px; margin: 10px auto; padding: 0 3%;
    font-size: 0.8rem;
    span{margin: 0 10px;}
}


/* sectoin 2 사진&설명 */
.m_wrap{
    display: flex;
}
.product{
    width: 1440px; margin: 0 auto; padding: 0 3%;
    display: flex; justify-content: space-between;
}
.p_left{
    /* background-color: beige; */
    width: 35%; padding: 0;
    display: flex; align-items: center; justify-content: right;
    img{max-width: 100%;}
}
.p_right{
    /* background-color: aliceblue; */
    width: 65%; min-height: 480px; padding: 0;
    display: flex; justify-content: right;
}
.right_wrap{
    position: relative;
}
#r_title{
    /* background-color: aqua; */
    border-top: 3px solid #212121;
    margin-bottom: 10px; padding: 20px 2px;
    display: flex; align-items: center; justify-content: space-between;
    h2{font-size: 1.6rem; font-weight: 100;}
    ul{list-style: none; margin: 0; padding: 0;
        font-size: 0.9rem;
        display: flex; gap: 20px;}
    span{margin-right: 5px; font-size: 0.6rem;}
    ul li p{display: inline-block; margin: 0; padding-bottom: 2px;}
    ul li:nth-child(1){
        span{color: red;}
        p{border-bottom: 1px solid #212121;}
    }
}
#r_intro{
    background-color: #eeeeee;
    border-radius: 20px;
    margin: 0; padding: 20px 30px;
    ul{list-style: none; margin: 10px 0; padding: 0;
        font-size: 0.9rem;
        display: flex; align-items: center; gap: 20px;}
    ul li:nth-child(1){flex: 1; font-weight: bold;}
    ul li:nth-child(n+2){
        border: 1px solid #212121; border-radius: 20px;
        padding: 5px 0;
        text-align: center;
        flex: 1;
    }
    .btn_black{
        background-color: #212121; color: white;
    }
}
#r_etc1{
    margin: 10px 0 30px 0; padding: 0 30px;
    font-size: 0.8rem;
    p{margin: 0; display: inline-block;}
}
#r_price{
    margin: 0; padding: 0 30px;
    min-height: 165px;
    ul{list-style: none; margin: 10px 0; padding: 0;
        font-size: 0.9rem;
        display: flex; align-items: center; gap: 20px;
    }
    ul li span{
        margin-left: 2px; font-size: 0.9rem;
        cursor: pointer;
    }
    ul li:nth-child(1){flex: 1;}
    ul li:nth-child(2){flex: 3; text-align: right; font-weight: bold;}
}
#r_buy{
    margin: 20px 0;
    width: 100%;
    position: absolute; bottom: 0;
    div{
        float: left;
        border: 1px solid #212121; box-sizing: border-box;
        height: 40px; line-height: 40px; text-align: center;
        cursor: pointer;
        a{font-size: 0.9rem;}
    }
    div:nth-child(1){width: 24%; margin-right: 1%;}
    div:nth-child(2){width: 24%; margin-right: 1%;}
    div:nth-child(3){width: 50%;}
    div:hover{
        background-color: #212121;
        a{color: white;}
    }
}


/* section 3 상세페이지 */
.page_wrap{
    display: flex;
}
.page_wrap article{
    width: 1440px; margin: 0 auto; padding: 0 3%;
    img{
        border-top: 3px solid #212121;
        padding-top: 20px;
        width: 100%;
    }
}