/* 폰트 스타일 */
@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}
@font-face {
    font-family: 'CloudSansCode';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-code.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Seoul-Notice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Seoul-Notice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Seoul-Notice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Seoul-Notice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


/* media 반응형 스타일 */
@media screen and (min-width:1025px){
    #h_menu_1{display: flex; align-items: center; justify-content: center; gap: 70px;}
    #h_menu_btn{display: none;}
}
@media screen and (max-width:1024px){
    #h_menu_1{display: none;}
    #h_menu_btn{display: block;}
}


/* 공용 스타일 */
html{background-color: #fbfbca; min-width: 768px;}
body{background-color: white; color: rgb(33, 33, 33); margin: 0 auto; font-family: 'NanumSquareNeo','Noto Sans KR';}
a{text-decoration: none; color: rgb(33, 33, 33);}
h1{margin: 0; font-size: 1.8rem; font-family: 'Seoul-Notice'; font-weight: 900;}
h2{margin: 0; font-size: 1.0rem;}
h3{margin: 0; font-size: 0.8rem;}


/* header 상단 스타일 */
header{
    ul{list-style: none; padding: 0;}
}
.h_wrap_1{
    width: 100%; height: 60px; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed; z-index: 999; top: 30px; left: 0; margin: 0; padding: 0;
    display: flex; align-items: center;
}
#h_top{
    width: 1440px; margin: 0 auto; padding: 0 3%;
    display: flex; align-items: center; justify-content: space-between;
}
#h_logo{
    width: 200px; height: 40px;
    display: flex; align-items: center;
    img{width: 70%;}
}
#h_menu_1{
    li a{padding-bottom: 3px; font-size: 0.9rem;}
    li a:hover{border-bottom: 5px solid #33ff33; font-weight: bold; transition: all 0.3s linear;}
}
#h_menu_btn{
    img{width: 28px;}
}
#h_search{
    width: 200px; height: 40px;
    position: relative;
    display: flex; align-items: center; justify-content: right;
    input{width: 194px; height: 25px; border: 1px solid rgb(33, 33, 33); border-radius: 0; padding-left: 10px;}
    a img{width: 19px; position: absolute; top: 11px; right: 5px;}
}
#h_search input:focus{
    outline:none;
}

.h_wrap_2{
    width: 100%; height: 30px; background-color: black;
    position: fixed; z-index: 999; top: 0; left: 0; margin: 0; padding: 0;
    display: flex; align-items: center;
}
#h_menu_2{
    width: 1440px; margin: 0 auto; padding: 0 3%;
    display: flex; align-items: center; justify-content: right;
    li{margin-left: 15px;}
    li:nth-child(1) a{color: #33ff33; font-weight: bold;}
    li a{color: white; font-size: 0.8rem; transition: all 0.3s ease;}
    li a img{height: 18px; padding-top: 3px;}
    li a:hover{color: #33ff33;}
}
.icon_ho{position: relative;}
.icon_green{position: absolute; left: 0; opacity: 0; transition: all 0.3s ease;}
.icon_ho:hover .icon_green{opacity: 1;}


/* footer 하단 스타일 */
footer{
    clear: both;
    position: relative;
    width: 100%;
}
.f_wrap{
    width: 100%; height: 220px; background-color: black; color: white; font-size: 0.9rem;
    position: absolute; top: 0; left: 0; margin: 0; padding: 0;
    display: flex;
}
#f_left{
    width: 1440px; margin: 0 auto; padding: 15px 3%;
    display: flex; align-items: center; justify-content: space-between;
}